@import "../../../assets/styles/colors.constants";

.total {
    margin-left: 1rem;
    margin-top: 0.5rem;

    :global(.control-group) {

        label {
            width: 3rem;
        }

        :global(.control) {
            width: 4rem;
        }
    }
}
