@import "../../../assets/styles/colors.constants";

.item {
    background-color: $gray_200;
    border: max(1px, calc(1 / 16 * 1rem)) solid $gray_400;
    color: $gray_800;
    height: 1.5rem;
    border-radius: 1.5rem;
    padding: 0 0.5rem;
    font-size: 0.9rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    column-gap: 0.25rem;

    .deleteButton {
        background-color: $gray_600;
        border: none;
        cursor: pointer;
        width: 1rem;
        height: 1rem;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &:after {
            content: "x";
            color: $white;
            font-weight: bold;
            font-style: normal;
            font-size: 0.9rem;
        }

        &:focus {
            border: max(1px, calc(1 / 16 * 1rem)) solid $blue_600;
            outline: max(1px, calc(1 / 16 * 1rem)) solid $blue_400;
            box-shadow: 0 0 max(6px, calc(6 / 16 * 1rem)) $blue_400;
        }

        &:hover {
            background-color: $red_800;
        }
    }

    &.normal {
        background-color: $green_100;
        border-color: $green_400;
        color: $gray_800;

        > .deleteButton {
            background-color: $green_600;
        }
    }

    &.bug {
        background-color: $red_100;
        border-color: $red_400;
        color: $red_800;

        > .deleteButton {
            background-color: $red_600;

            &:focus {
                border-color: $red_600;
                outline-color: $red_400;
                box-shadow: 0 0 max(6px, calc(6 / 16 * 1rem)) $red_400;
            }
        }
    }
}
