@import "../../assets/styles/colors.constants";

.report {
    width: 60rem;
    margin: auto;
}

.ruler {
    border: none;
    height: max(1px, calc(1 / 16 * 1rem));
    background-color: $gray_400;
}

.content {
    padding: 1rem;
}

.container:not(:first-child) {
    margin-top: 1rem;
}
