.series {
    margin-left: 1rem;
    display: flex;
    align-items: baseline;

    &:not(:first-of-type) {
        margin-top: 1rem;
    }

    h5 {
        font-size: 0.9rem;
        width: 3rem;
        height: calc(1.5rem + (max(1px, calc(1 / 16 * 1rem)) * 2));
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
    }
}
