@import "colors.constants";

.button-group {
    display: flex;
}

.button-group .button:not(:first-child) {
    margin-left: 1rem;
}

.button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: bold;
    border: none;
    border-radius: max(5px, calc(5 / 16 * 1rem));
    cursor: pointer;
    background-color: $blue_400;
    color: $white;
    box-shadow: 0 0 max(2px, calc(6 / 16 * 1rem)) $gray_400;
}
.button:hover {
    background-color: $blue_600;
}
.button:focus {
    outline: max(2px, calc(2 / 16 * 1rem)) solid $blue_600;
    box-shadow: 0 0 max(6px, calc(6 / 16 * 1rem)) $blue_400;
}

.button.primary {
    background-color: $green_400;
}
.button.primary:hover {
    background-color: $green_600;
}
.button.primary:focus {
    outline: max(2px, calc(2 / 16 * 1rem)) solid $green_600;
    box-shadow: 0 0 max(6px, calc(6 / 16 * 1rem)) $green_400;
}

.button.danger {
    background-color: $red_400;
}
.button.danger:hover {
    background-color: $red_600;
}
.button.danger:focus {
    outline: max(2px, calc(2 / 16 * 1rem)) solid $red_600;
    box-shadow: 0 0 max(6px, calc(6 / 16 * 1rem)) $red_400;
}

