// Color Palette obtained from https://material.io/design/color/the-color-system.html#tools-for-picking-colors

$red_100: #FFCDD2;
$red_200: #EF9A9A;
$red_400: #EF5350;
$red_600: #E53935;
$red_800: #C62828;

$green_100: #C8E6C9;
$green_200: #A5D6A7;
$green_400: #66BB6A;
$green_600: #43A047;
$green_800: #43A047;

$blue_100: #BBDEFB;
$blue_200: #90CAF9;
$blue_400: #42A5F5;
$blue_600: #1E88E5;
$blue_800: #1565C0;

$gray_100: #F5F5F5;
$gray_200: #EEEEEE;
$gray_400: #BDBDBD;
$gray_600: #757575;
$gray_800: #424242;

$black: #000000;
$white: #FFFFFF;
